/* Estilos para dispositivos de tela grande */
@media screen and (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;
  }

  label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-weight: bold;
  }

  input[type="text"],
  input[type="date"],
  input[type="submit"] {
    width: 48%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  input[type="submit"]:hover {
    background-color: #3E8E41;
  }

  table {
    width: 60%;
    margin-top: 20px;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
}

/* Estilos para dispositivos de tela pequena */
@media screen and (max-width: 767px) {
  body {
    margin: 0;
    padding: 0;
    height: auto;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 20px auto;
  }

  input[type="text"],
  input[type="date"],
  input[type="submit"] {
    width: 100%;
    margin-bottom: 10px;
  }

  table {
    width: 90%;
    margin: 20px auto;
  }

  input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
  }
  
  input[type="submit"]:hover {
      background-color: #3E8E41;
  }

}